//=============================================
// BUTTON PARTIAL
//=============================================


/* ----------- Buttons ----------- */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: $rounded-corners;
  }
  
  .default {
    background-color: $color-secondary;
    transition: $lighten-fade;
    &:hover {
      background-color: $color-secondary-light;
    }
  }
  
  .error {
    background-color: $color-error;
    transition: $lighten-fade;
    &:hover {
      background-color: $color-error-light;
    }
  }
  
  .info {
    background-color: $color-info;
    transition: $lighten-fade;
    &:hover {
      background-color: $color-info-light;
    }
  }
  
  .success {
    background-color: $color-success;
    transition: $lighten-fade;
    &:hover {
      background-color: $color-success-light;
    }
  }
  
  .warning {
    background-color: $color-warning;
    transition: $lighten-fade;
    &:hover {
      background-color: $color-warning-light;
    }
  }