//=============================================
// GRID PARTIAL
//=============================================

/* ------------ Grid System ------------ */


.container {
    padding: 0 10px;
  }
  
  .row {
    display: flex;
    flex-direction: column;
    padding: 1em 10px;
  }
  
  [class^=col] {
    margin-top: $margin-top;
    flex-basis: 100%;
    min-height: 25px;
    padding: 10px;
    border-radius: $rounded-corners;
  }

  .theme {
    @include themes($themes);
  }
  
  .card {
    flex-basis: 100%;
  }